<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "Our Vision";
    Layout = "~/Views/Shared/_LayoutForSubPages.cshtml";
}

<img src="~/images/patient.jpg" style="width:100%; height:350px; margin-bottom:20px; border-radius:15px;" />

<h1 style="color:#42a5ff; font-size:24px; font-weight:bold">Our Vision</h1>
<hr />

<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    The future of healthcare is a good balance of in-person care and telehealth consults. To make the process seamless, to keep the care uninterrupted and to ensure best possible outcomes, sharing of vital health information in a timely manner is critical. While the physician is the custodian of the medical records, the patient is an aware, responsible citizen who wants to actively participate in maintaining his/her health.
</p>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    "Atom" is a unique digital health ID, secure and encrypted, that stores a patient's vital health information, curated with the help of their physician.
</p>

