
.headerContainer {
    width:65%;
    margin:0 auto;
    padding:25px;
}
.containerImage {
    width: 100%;
    margin: 35px auto;
}
.topHeader {
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}
.bottomHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.logoHolder {
    margin-top:0px;
}
.workDay {
    margin-top:15px;
    display: flex;
    flex-direction: column;
}
.phone {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.address {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.socialMedia {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.navContainer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

li a {
    margin-right: 25px;
    font-size: large;
    color: #42a5ff;
    text-decoration: none;
    margin-top: 25px;
}
.rightMenu {
    
    padding: 15px;
    background-color: #42a5ff;
    display:flex;
    flex-direction:column;
    height:100px;

}
    .rightMenu a {
        margin-right: 15px;
        text-decoration: none;
        text-decoration:none;
        color:white;
    }
.signinoutLink {
    display:flex;
    flex-direction:row;
}
.bodyContainer {
    width: 65%;
    margin: 20px auto;
    padding: 25px;
    min-height: 660px;
}
.containerBox {
  height:682px;
}

.footer {
    width: 65%;
    margin: 0 auto;
    padding: 25px;
    height: 30px;
    background-color: #42a5ff;
}
p .footerParagraph {
    width: 65%;
    margin: 0 auto;
    padding: 25px;
    color:white;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}
.midSector {
    margin:0 auto;
    height:auto;
}
.bottom-left {
    position: relative;
    bottom: 524px;
    width:476px;
    left: 400px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 12px;
}
    .bottom-left h1 {
        font-size: 35px;
        color: #42a5ff;
    }
    .bottom-left p {
        width: 449px;
        margin-top:10px;
        font-size:20px;
        color:black;
    }

.bottom-bottom {
    margin: 0 auto;
    position: relative;
    bottom: 490px;
    width: 1122px;
    
    display: flex;
    align-content: space-evenly;
}
.blockBox {
    background-color:white;
    color:gray;
    border-radius: 15px;
    padding: 12px;
    margin-right: 25px;
    border:8px solid lightgrey;
    
}
    .blockBox h1 {
        font-size: 23px;
        text-decoration: underline;
        color: #42a5ff;
        text-align:center;
        
    }
    .blockBox p {
        margin-top:14px;
        font-size: 18px;
    }

/*    List color-profile patient*/

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
.listDesign ul {
    margin:15px 0px;
   

}
    .listDesign ul li {
        margin: 15px 0px;
        font-size: 18px;
        list-style-type: square;
        margin-left:25px;
    }


/*    css form contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

.containerforcontactform form label {
    color: #42a5ff;
    text-align: left;
    float: left;
    margin: 0px;
    padding: 0px;
}

input[type=submit] {
    background-color: #42a5ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }
.leftContainerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
.containerforcontactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0px 20px 20px;
    display: flex;
    margin: 25px 0px;
}
.rightContactForm {
 margin-left:20px;
    float:right;
    border-left:1px dotted gray;
}
.addressBox {
    background-color:lightgrey;
    color:black;
    padding:15px;
    margin:20px;
    border-radius:8px;
}
    .addressBox h1 {
        font-size:18px;
        margin-bottom:10px;
      
    }
    .addressBox p {
        font-size: 16px;
        margin-bottom:5px;
    }
.PhoneBox {
    background-color: lightgrey;
    color: black;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
}
        .PhoneBox h1 {
            font-size: 18px;
            margin-bottom: 10px;
          
        }

        .PhoneBox p {
            font-size: 16px;
            margin-bottom: 5px;
        }
.officeHourBox {
    border-radius: 8px;
    background-color: lightgrey;
    color: black;
    padding: 15px;
    margin: 20px;
}
    .officeHourBox h1 {
        font-size: 18px;
        margin-bottom: 10px;
       
    }

    .officeHourBox p {
        font-size: 16px;
        margin-bottom: 5px;
    }