* {
    box-sizing: border-box;
}

.containerImage {
    width: 100%;
    margin: 50px auto;
}

.header {
    padding: 10px;
}

.topHeader {
    /*height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;*/
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}
/*.bottomHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}*/
.bottomHeader {
    display: flex;
    justify-content: flex-start;
}

.logoHolder {
    margin-top: 0px;
    /*margin-right: 65px;*/
}

.workDay {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 15px;
}

.phone {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 15px;
}

.address {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 15px;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    width: 20px;
    margin-top: 180px;
    float: left;
    /* margin-left: 800px; */
    position: absolute;
}

.navbar navbar-expand-sm {
    display: flex !important;
    justify-content: left !important;
}
.navContainer {
    font-weight: 500;
    overflow: hidden;
    position: absolute;
}
.headerLinks {
    position: absolute;
    display: block;
    top: 10px;
    right: 90px;
    padding: 20px;
}

.lispace {
    width: 160px;
}

li a {
    margin-right: 25px;
    font-size: large;
    color: #42a5ff;
    text-decoration: none;
    margin-top: 25px;
    text-decoration: none;
}

.rightMenu {
    display: flex;
    float: right;
    margin-right: 85px;
    margin-top: 17px;
}

    .rightMenu p {
        color: #42a5ff;
    }

    .rightMenu a {
        text-decoration: none;
        text-decoration: none;
        color: #42a5ff;
        font-size: 16px;
        text-decoration: none;
        padding-right: 12px;
        padding-left: 12px;
    }

/*.signinoutLink {
    display: flex;
    flex-direction: row;
}*/
    .bodyContainer {
    width: 65%;
    margin: 65px auto;
    padding: 25px;
    min-height: 660px;
}

.containerBox {
    height: 682px;
    display: contents;
    /*justify-content: flex-start;*/
}

.footer {
    /* width: 65%;
    margin: 0 auto;
    padding: 25px;
    height: 30px;
    background-color: #42a5ff;*/
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    height: auto;
    background-color: #42a5ff;
}

.footerParagraph {
    /*width: 65%;
    margin: 0 auto;
    padding: 25px;
    color:white;
    margin-top: 40px;*/
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.midSector {
    margin: 0 auto;
    height: auto;
}

.bottom-left {
    /*position: relative;
    bottom: 524px;
    width: 476px;
    left: 400px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 17px;*/
    position: relative;
    bottom: 524px;
    width: 350px;
    left: 20px;
    padding: 17px;
}

    .bottom-left h1 {
        font-size: 35px;
        color: #42a5ff;
    }

    .bottom-left p {
        margin-top: 10px;
        font-size: 20px;
        color: black;
        font-weight: 500;
        margin-bottom: 26px;
       
    }

    .bottom-left a {
        background-color: #42a5ff;
        padding: 12px;
        border-radius: 7px;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        margin-bottom: 5px;
        text-decoration: none;
    }

.bottom-bottom {
    /*margin: 0 auto;
    position: relative;
    bottom: 490px;
    width: 1122px;
    display: flex;
    align-content: space-evenly;*/
    margin: 0 auto;
    position: relative;
    bottom: 490px;   
    display: block;    
    overflow: hidden;
    margin-right: 85px;
}
div.midSector > div > div:nth-child(4)
{
    height:auto;
}
.pb-3, .py-3 {
    margin-top: -560px !important;
    margin-left: -60px;
}

    .blockBox {
    background-color: white;
    color: gray;
    border-radius: 15px;
    padding: 12px;
    /* margin-right: 25px; 
height: 405px;
    */
    border: 8px solid lightgrey;
    height: auto;
    width: auto;
    margin: 15px;
}


.blockBox h1 {
    font-size: 35px;
    /* text-decoration: underline; */
    color: #42a5ff;
    text-align: center;
    letter-spacing: 1px;
}

    .blockBox p {
        font-size: 22px;
        text-align: center;
    }

        .blockBox a {
        background-color: #42a5ff;
        padding: 7px;
        border-radius: 7px;
        margin-top: 10px;
        font-size: 17px;
        color: white;
        /* margin-bottom: 5px; */
        text-decoration: none;
        height: 50px;
    }

.learnmore {
    /*margin-top: 20px;
    margin-left: 15px;*/
}
/*    List color-profile patient*/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

.listDesign ul {
    margin: 15px 0px;
}

    .listDesign ul li {
        margin: 15px 0px;
        font-size: 18px;
        list-style-type: square;
        margin-left: 25px;
    }


/*    css form contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

.containerforcontactform form label {
    color: #42a5ff;
    text-align: left;
    float: left;
    margin: 0px;
    padding: 0px;
}

input[type=submit] {
    background-color: #42a5ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.leftContainerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.containerforcontactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0px 20px 20px;
    display: flex;
    margin: 25px 0px;
}

.rightContactForm {
    margin-left: 20px;
    float: right;
    border-left: 1px dotted gray;
}

.addressBox {
    background-color: lightgrey;
    color: black;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
}

    .addressBox h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .addressBox p {
        font-size: 16px;
        margin-bottom: 5px;
    }

.PhoneBox {
    background-color: lightgrey;
    color: black;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
}

    .PhoneBox h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .PhoneBox p {
        font-size: 16px;
        margin-bottom: 5px;
    }

.officeHourBox {
    border-radius: 8px;
    background-color: lightgrey;
    color: black;
    padding: 15px;
    margin: 20px;
}

    .officeHourBox h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .officeHourBox p {
        font-size: 16px;
        margin-bottom: 5px;
    }



.socialmediaAndSignin {
    display: flex;
    flex-direction: column;
    float: right;
}




/*Desktop*/
@media screen and (min-width: 1024px) {
    .headerContainer {
        width: 65%;
        margin: 26px auto;
    }

    .containerImage {
        width: 100%;
        margin: 35px auto;
    }

    .topHeader {
        /*height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;*/
        height: 110px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid gray;
    }

    /*.bottomHeader {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}*/
    .bottomHeader {
        display: flex;
        justify-content: flex-start;
    }

    .logoHolder {
        margin-top: 0px;
        margin-right: 65px;
    }

    .workDay {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        line-height: 15px;
    }

    .phone {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        line-height: 15px;
    }

    .address {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        line-height: 15px;
    }

    .socialMedia {
        display: flex;
        flex-direction: row;
        width: 20px;
        margin-top: 25px;
    }


    .navContainer {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        font-weight: 500;
    }

    .lispace {
        width: 100%;
    }

    li a {
        margin-right: 25px;
        font-size: large;
        color: #42a5ff;
        text-decoration: none;
        margin-top: 25px;
        text-decoration: none;
    }

    .rightMenu {
        /*background-color: #42a5ff;*/
        /*border-radius:8px;*/
        display: flex;
        /*flex-direction: column;*/
        float: right;
        margin: 15px;
    }

        .rightMenu p {
            color: #42a5ff;
        }

        .rightMenu a {
            text-decoration: none;
            text-decoration: none;
            color: #42a5ff;
            font-size: 16px;
            text-decoration: none;
            padding-right: 12px;
            padding-left: 12px;
        }

    /*.signinoutLink {
    display: flex;
    flex-direction: row;
}*/
    .bodyContainer {
        width: 65%;
        margin: 65px auto;
        padding: 25px;
        min-height: 660px;
    }

    .containerBox {
        height: 682px;
    }

    .footer {
        /* width: 65%;
    margin: 0 auto;
    padding: 25px;
    height: 30px;
    background-color: #42a5ff;*/
        width: 100%;
        margin: 0 auto;
        padding: 25px;
        height: 95px;
        background-color: #42a5ff;
        display: flex;
        justify-content: space-evenly;
    }

    .footerParagraph {
        /*width: 65%;
    margin: 0 auto;
    padding: 25px;
    color:white;*/
        margin-top: 40px;
    }


    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .midSector {
        margin: 0 auto;
        height: auto;
    }

    .bottom-left {
        /*position: relative;
    bottom: 524px;
    width: 476px;
    left: 400px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 17px;*/
        position: relative;
        bottom: 524px;
        width: 595px;
        left: 230px;
        padding: 17px;
    }

        .bottom-left h1 {
            /*font-size: 35px;*/
            color: #42a5ff;
            font-weight: 600;
        }

        .bottom-left p {
            width: 410px;
            margin-top: 10px;
            font-size: 20px;
            color: black;
            font-weight: 500;
            margin-bottom: 26px;
        }

        .bottom-left a {
            background-color: #42a5ff;
            padding: 12px;
            border-radius: 7px;
            margin-top: 10px;
            font-size: 20px;
            color: white;
            margin-bottom: 5px;
            text-decoration: none;
        }

    .bottom-bottom {
        margin: 0 auto;
        position: relative;
        bottom: 490px;
        width: 1122px;
        display: flex;
        align-content: space-evenly;
    }

    .blockBox {
        background-color: white;
        color: gray;
        border-radius: 15px;
        padding: 12px;
        margin-right: 25px;
        border: 8px solid lightgrey;
        height: 370px;
        width: auto;
    }

        .blockBox h1 {
            font-size: 23px;
            text-decoration: underline;
            color: #42a5ff;
            text-align: center;
            letter-spacing: 1px;
        }

        .blockBox p {
            font-size: 18px;
        }

        /* .blockBox p {
        width: 410px;
        margin-top: 10px;
        font-size: 20px;
        color: black;
        font-weight: 500;
    }*/

        .blockBox a {
            background-color: #42a5ff;
            padding: 7px;
            border-radius: 7px;
            margin-top: 10px;
            font-size: 17px;
            color: white;
            /* margin-bottom: 5px; */
            text-decoration: none;
            height: 50px;
        }

    .learnmore {
        margin-top: 20px;
        margin-left: 40px;
    }
    /*    List color-profile patient*/
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .listDesign ul {
        margin: 15px 0px;
    }

        .listDesign ul li {
            margin: 15px 0px;
            font-size: 18px;
            list-style-type: square;
            margin-left: 25px;
        }


    /*    css form contact form*/
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        color: black;
    }

    .containerforcontactform form label {
        color: #42a5ff;
        text-align: left;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    input[type=submit] {
        background-color: #42a5ff;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .leftContainerForm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .containerforcontactform {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px 0px 20px 20px;
        display: flex;
        margin: 25px 0px;
    }

    .rightContactForm {
        margin-left: 20px;
        float: right;
        border-left: 1px dotted gray;
    }

    .addressBox {
        background-color: lightgrey;
        color: black;
        padding: 15px;
        margin: 20px;
        border-radius: 8px;
    }

        .addressBox h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .addressBox p {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .PhoneBox {
        background-color: lightgrey;
        color: black;
        padding: 15px;
        margin: 20px;
        border-radius: 8px;
    }

        .PhoneBox h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .PhoneBox p {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .officeHourBox {
        border-radius: 8px;
        background-color: lightgrey;
        color: black;
        padding: 15px;
        margin: 20px;
    }

        .officeHourBox h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .officeHourBox p {
            font-size: 16px;
            margin-bottom: 5px;
        }

    .socialmediaAndSignin {
        display: flex;
        flex-direction: column;
        float: right;
    }

    /*.headerLinks {
    margin-top: 0px;
    float: right;
}
    .headerLinks ul {
        display: flex;
        flex-direction: row;
    }
        .headerLinks ul li a {
        border-radius: 8px;
    background-color: #42a5ff;
    color: white;
    margin-right: 5px;
    font-size: 12px;
    text-decoration: none;
    padding: 3px;
}

*/
}
