.leftcolumnNews {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}
/* Fake image */
.fakeimg {
    width: 40%;
}

    .fakeimg img {
        height: 300px;
        width: 100%;
        padding: 3px;
        border: 2px solid gray;
        margin-left: 25px;
    }

/* Add a card effect for articles */
.cardNews {
    background-color: white;
    width: 60%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    min-height: 350px;
}

    .cardNews h2 {
        font-size: 20px;
    }

    .cardNews h5 {
        font-size: 17px;
        color: gray;
    }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
