/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.container {
    width: 100%;
}

    .container a img {
        height: 65px;
        width: 120px;
    }

.socialMedia {
    margin: 25px 25px 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.signInAndSocial {
    display: flex;
    flex-direction: column;
}

.topNav {
    display: flex;
    flex-direction: column;
}

.signinoutLink {
    display: flex;
    flex-direction: row;
    height: 20px;
    color: #42a5ff;
    justify-content: flex-end;
    font-size: 15px;
    margin: 10px 0;
}

.navbar-collapse {
    padding: 7px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    background-color: #42a5ff;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 1.5px;
    display: flex;
    flex-direction: column;
    float: right;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.text-center {
    width: 100%;
}

    .text-center img {
        height: 350px;
        width: 100%;
    }
/* Provide sufficient contrast against white background */
a {
    color: darkblue;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.midSector {
    margin: 0 auto;
    height: auto;
}

.bottom-left {
    border: 2px solid white;
    border-radius: 15px;
    padding: 17px;
}

    .bottom-left h1 {
        font-size: 30px;
        color: #42a5ff;
    }

    .bottom-left p {
        margin: 15px 0 25px 0;
        font-size: 18px;
        color: black;
    }

    .bottom-left a {
        background-color: #42a5ff;
        padding: 12px;
        border-radius: 7px;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        margin-bottom: 5px;
        text-decoration: none;
    }

.bottom-bottom {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.blockBox {
    background-color: white;
    color: gray;
    border-radius: 15px;
    padding: 12px;
    margin: 13px auto;
    border: 8px solid lightgrey;
}

    .blockBox h1 {
        font-size: 30px;
        text-decoration: underline;
        color: #42a5ff;
        text-align: center;
    }

.navLinks {
    background-color: #42a5ff;
}

    .navLinks ul li a {
        justify-content: flex-start;
    }

.blockBox p {
    font-size: 18px;
}

.welcometext {
    margin-top:15px; 
}
/*    css form contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

.containerforcontactform form label {
    color: #42a5ff;
    text-align: left;
    float: left;
    margin: 0px;
    padding: 0px;
}

input[type=submit] {
    background-color: #42a5ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.leftContainerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.containerforcontactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 20px 20px 20px;
    display: flex;
    margin: 25px 0px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 80%;
    }

}

@media (min-width: 800px) {
    html {
        font-size: 16px;
    }

    .container {
        width: 100%;
    }

        .container a img {
            height: 100px;
            width: 180px;
        }

    .text-center {
        width: 100%;
    }

        .text-center img {
            height: 450px;
            width: 100%;
        }

    .bottom-left {
        bottom: 524px;
        width: 476px;
        left: 400px;
        border: 2px solid white;
        border-radius: 15px;
        padding: 17px;
    }

        .bottom-left h1 {
            font-size: 35px;
            color: #42a5ff;
        }

        .bottom-left p {
            width: 449px;
            margin-top: 10px;
            font-size: 20px;
            color: black;
        }

        .bottom-left a {
            background-color: #42a5ff;
            padding: 12px;
            border-radius: 7px;
            margin-top: 10px;
            font-size: 20px;
            color: white;
            margin-bottom: 5px;
            text-decoration: none;
        }


}



.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
