<link rel="stylesheet" href="~/css/layoutpage.css" />
@{
    ViewData["Title"] = "For Doctors";
    Layout = "~/Views/Shared/_LayoutForSubPages.cshtml";
}

    <img src="~/images/doctortwo.jpg" style="width:100%; height:350px; margin-bottom:20px; border-radius:15px;" />

<h1 style="color:#42a5ff; font-size:24px; font-weight:bold">Information to Doctors</h1>
<hr/>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    Changing times call for newer, functional solutions. Virtual care, being peripheral since a long time, suddenly found acceptance and adoption during these unprecedented times. 
    As a physician, your Hippocratic Oath puts you in a position where you have to adopt new technology for the patients, while being mindful of their privacy rights, as you pursue your goal of patient well-being and best possible outcomes. As you juggle in-person clinical visits and virtual telemedicine visits, we help you maintain your peace of mind by enabling simple, concise health information sharing. Improved patient outcomes, reduced liability and more reliable decision-making for a patient are just a few benefits. Ask your telehealth provider to connect with us to enable secure data access.
    </p>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;"><a asp-controller="SignupAtom" asp-action="CreateForUserWhoNeedHelp">Signup</a> with us today to join us on this journey.</p>
    


