@model AtomHealth.Models.Atom

@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_LayoutWithoutBanner.cshtml";
}

<h1 style="color:#42a5ff; font-size:large; font-weight:bold">Signin</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SigninPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                Email
                <input asp-for="email" class="form-control" value="@ViewBag.email"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                Password
                <input asp-for="password" type="password" class="form-control" value="@ViewBag.password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div>   <p style="color:red; font-size:18px;">@ViewBag.problem</p></div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>

        </form>
     
    </div>
</div>

