<link rel="stylesheet" href="~/css/layoutpage.css" />
@{
    ViewData["Title"] = "For Patients";
    Layout = "~/Views/Shared/_LayoutForSubPages.cshtml";
}

<img src="~/images/patient.jpg" style="width:100%; height:350px; margin-bottom:20px; border-radius:15px;" />

<h1 style="color:#42a5ff; font-size:24px; font-weight:bold">Information to Patients</h1>
<hr />
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    Stay current on medical technology and research
    Since doctors are responsible for their patients' well-being, this occupation is more demanding than most. In addition to having a comprehensive knowledge of medicine, they need to be able to communicate their findings to patients who typically do not possess the same knowledge. They work with people when they are at their most vulnerable and this requires empathy in addition to the required technical knowledge.

    Beyond the foundational duties and responsibilities of all doctors, each specialty in the field requires doctors to be able to perform tasks specific to those jobs. Surgeons, for example, must have the manual dexterity to perform precise operations and the stamina to spend hours at a time in the operating room.
</p>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">Specific responsibilities vary by specialty, but all doctors need to be able to perform the following duties:</p>

<div class="listDesign">
    <ul>
        <li>Assess symptoms</li>
        <li>Diagnose conditions</li>
        <li>Prescribe and administer treatment</li>
        <li>Provide follow-up care of patients, refer them to other providers, and interpret their laboratory results</li>
        <li>Prescribe medication</li>
    </ul>
</div>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    Assess symptoms
    Diagnose conditions
    Prescribe and administer treatment
    Provide follow-up care of patients, refer them to other providers, and interpret their laboratory results
    Collaborate with physician assistants, nurse practitioners, registered nurses, and other health professionals
    Prescribe medication
    Stay current on medical technology and research
    Since doctors are responsible for their patients' well-being, this occupation is more demanding than most. In addition to having a comprehensive knowledge of medicine, they need to be able to communicate their findings to patients who typically do not possess the same knowledge. They work with people when they are at their most vulnerable and this requires empathy in addition to the required technical knowledge.

    Beyond the foundational duties and responsibilities of all doctors, each specialty in the field requires doctors to be able to perform tasks specific to those jobs. Surgeons, for example, must have the manual dexterity to perform precise operations and the stamina to spend hours at a time in the operating room.
</p>

