<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "For Corporations";
    Layout = "~/Views/Shared/_LayoutForSubPages.cshtml";
}

<img src="~/images/emr.jpg" style="width:100%; height:350px; margin-bottom:20px; border-radius:15px;" />

<h1 style="color:#42a5ff; font-size:24px; font-weight:bold">Information to Corporations</h1>
<hr />
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    Whether you are a telemedicine company, EMR/EHR company or HMO, all your actions and goals are centred around patient well-being. We help you simplify HIE through a secure, digital health ID that is unique to each patient. Our secure view-only access to the patient health information, not only improves patient satisfaction with your company, but also improves adherence and long-term relationship with physicians and patients. As a telehealth company, both sides of your market, physicians as well as patients will appreciate your commitment to patient well-being.
    As an EMR/EHR company, you have hundreds of millions of patient medical records. All we need is small snippets from there to create our unique health ID. Because our common goal is to make the process of delivery of care hassle-free for the physicians.
    As an HMO, good patient outcomes and stress-free physicians are drivers of your success, and we want to participate with you in value cocreation of sustainable care.
    </p>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;"><a style= "font-weight: bold;" href="/">Partner with us.</a></p>