<link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "For Insurance";
    Layout = "~/Views/Shared/_LayoutForSubPages.cshtml";
}

<img src="~/images/insurance.png" style="width:100%; height:350px; margin-bottom:20px; border-radius:15px;" />

<h1 style="color:#42a5ff; font-size:24px; font-weight:bold">Information to Insurance Companies</h1>
<hr />
<p style="font-size:18px; line-height:20px; margin-bottom:15px;">
    As virtual and in-person care blend into one, improved patient outcome becomes a shared responsibility.  Annually, misdiagnosis and complications related to incomplete medical history causes a loss of 20 million DALYs and billions of dollars. We hope to reduce this burden with a secure, encrypted digital health ID. This unique patient health ID can be used to share vital health information with the attending physician, thereby preventing adverse outcomes. We also help coordinate care and claims to streamline the process for you.
   </p>
<p style="font-size:18px; line-height:20px; margin-bottom:15px;"><a style= "font-weight: bold;" href="/">Partner with us.</a></p>

