<link rel="stylesheet" href="~/css/layoutpage.css" />
@*<link rel="stylesheet" href="~/css/contact.css" />*@

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_LayoutForSubPages.cshtml";
}



<h1 style="color:#42a5ff; font-size:24px; font-weight:bold">Contact Form</h1>
<hr />
<p1 style="color:#42a5ff; font-size:16px;">Say hello to us if you do not have any concerns!</p1>

<div class="containerforcontactform">
    <form action="/">
        <label>Full Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="Your Full Name..">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your Email Address..">

        

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
    </form>

    <div class="rightContactForm">
        <div class="addressBox">
            <h1>Office Address</h1>
            <p>4607 20 Ave NW<p>
            <p>Edmonton, AB, T6L 5W7</p>
        </div>
        <div class="PhoneBox">
            <h1>Contact Us</h1>
            <p>Phone: + 123-456-7891<p>
            <p>Email: email@atomhealth.ca</p>
        </div>
        <div class="officeHourBox">
            <h1>Office Hour</h1>
            <p>Monday - Friday</p>
            <p>08:00AM - 20:00PM MDT</p>
            <p> Saturday and Sunday - CLOSED</p>
        </div>
    </div>
</div>
